name : Hola mundo actions GH


on:
    push:
        branches:
            -main

jobs:
    hola_mundo:
        
            name: Imprimir Hola Mundo
            runs-on: ubuntu-latest

            steps:
                - 
                    name:  Imprimir Hola Mundo
                run: echo "Hola Mundo"